.view-transition-fallback-settling {
	opacity: 0;
}
.view-transition-fallback-settled {
	animation-duration: .5s;
	animation-name: fadeOutIn;
}

@keyframes fadeOutIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {	
	from { opacity: 0; }
}

@keyframes slideFromLeft {
	from { transform: translateX(-100%); }
}
